
.header {
    margin-top: 1rem;
    text-align: center;
    font-size: larger;
    font-weight: normal;
  }
  

mat-form-field {
    width: 100%;
  }
  
mat-card {
    width: 40%;
    margin: auto;
    margin-top: 1rem;
}
  
#usernotexist {
  text-align: center;
  margin-top: 5px;
  color: red;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}